@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .active {
    @apply rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white;
  }
  .inactive {
    @apply rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/font/Montserrat-Medium.ttf");
}
.banner {
  background: radial-gradient(
    759px at 14% 22.3%,
    rgb(10, 64, 88) 0%,
    rgb(15, 164, 102) 90%
  );
}
a {
  text-decoration: none !important;
}
#text {
  text-align: center;
}
#bf::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #22c55e;
  display: inline-block;
}
#bf::before {
  content: "";
  width: 50px;
  height: 2px;
  background: #22c55e;
  display: inline-block;
}
#bf::before {
  margin: 0 10px 10px 0;
}
#bf::after {
  margin: 0 0 10px 10px;
}
.accordion-button:not(.collapsed) {
  background-color: #22c55e !important;
}
.accordion-button {
  height: 40px !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}
